@import "tailwindcss";

@theme {
  --color-background: #e8e8e8;
  --color-foreground: #030303;
  --color-primary: #000000;
  --color-primary-foreground: #ffffff;
  --color-secondary: #878787;
  --color-secondary-foreground: #e8e8e8;
  --color-accent: #ffffff;
  --color-accent-foreground: #000000;
  --color-muted: #878787;

  --font-sans: "Inter", sans-serif;

  --font-size-base: 13px;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.563rem;
  --font-size-xl: 1.953rem;
  --font-size-xxl: 2.441rem;
  --font-size-xxxl: 3.052rem;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
    font-size: var(--font-size-base);
    line-height: 1.250;
    /* Major Third */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h2 {
    font-size: var(--font-size-xxxl);
  }
}

@layer utilities {
  .text-shadow-technical {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
  }
}